---------------------------
Administrador: cmd - ping  homestead.test (Admin)
---------------------------
OpenClipboard failed (SetClipboard), Code=5
LastError=0x00000005
Acceso denegado.


---------------------------
Reintentar   Cancelar   
---------------------------
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
